body{ 
    background-image:  url("Flowerwebsite.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-align: center;
}
*{
    font-family: sans-serif;
    color: white;
}

h3{
    text-align: center;
    color: white;
}
h4{
    
    color: white;
}

ul{
    color: white;
}

p.b{
    font-style: italic;

}
p{
    color: white;
}

table th, table td{
color: white;
border: none;

}
tr:nth-child(odd){
background-color: rgb(133, 190, 141);
border: none;
}
    
tr:nth-child(even){
    background-color: turquoise;
    border: none;
}
th{
    color:black;
    border: none;
        
}

span{
    color: red;
    font-family: bold;
}
img{
background-image: url("headshot.png");
width: 412px;
height: 500px;
background-repeat: no-repeat;

display: block;
margin-left:auto ;
margin-right: auto;
}

