body{ 
    background-image:  url("Flowerwebsite.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: white;
}
*{
    font-family: sans-serif;
    color: white;
}

h3{
    text-align: center;
    color: white;
}
h4{
    
    color: white;
}

ul{
    color: white;
}
p{
    color: white;
}
table{
color: white;
}
img{
background-image: url("headshot.png");
width: 412px;
height: 500px;
background-repeat: no-repeat;

display: block;
margin-left:auto ;
margin-right: auto;
}

tr:nth-child(odd){
background-color: whitesmoke;
}

tr:nth-child(even){
    background-color: turquoise;
    }
th{
    color:black;
    width: 100%;
}
a:hover{
    color: purple;

}
